<a href="https://colab.research.google.com/github/timothy-87/course_material/blob/main/If_Else_loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
#### Bonus code

list_1 = [87,54,16,9,45,50,11,67,75, -76]

# over 75(A), over 50(B), Over 25 (c), under 15 (D)
grades = []

# i represents each item in the list, i[0] = 87, i[2]= 54
for i in list_1:
    if i > 75:
        grades.append('A')
    elif i > 50 and i != 75:
        grades.append('B')
    elif i > 25:
        grades.append('C')
    else:
        grades.append('D')

print(grades)

# If/Else, Loops

## If

**Branching** is a fundamental part of computer programming. It basically means making a decision to take one path or another. Through the **if** statement, your programs can branch to a section of code or just skip it, all based on function itself

In [ ]:
# If is a conditional statement that executes some specified code after checking
# if its expression is True

if 8 < 6:
  print('Eight is greater than six')
else:
  print('Eight is not greater than 6')

Eight is not greater than 6

*Below example given by Noah during stand up*

In [ ]:
ages = {'Ben': 17,
        'Beryl':28,
        'Paul':45,
        'Cynthia':75,
        'Max':6
        }

for name, age in ages.items():
  print(f"\n Decision for {name} age:{age} yrs \n",'*'*15)
  if age >= 18:
    print(f'You"re {age} y.o. Allowed to vote')
  # creating nested if statement
    if age >=35:
      print('you can vie for presidency')
    else:
      print(f"you still have {35-age} years to vote")
  else:
    print(f"you still have {18-age} years to vote")
    if age >15:

In [ ]:
today = 'October 5'

if today == 'October 5':
  print('It is closer to Mashujaa day')

# What happens when you change date to Oct 6?

It is closer to Mashujaa day

In [ ]:
# We can write an if statement by using the if keyword as shown:
#
x = 200
y = 300
if y > x:
  print("y is greater than x")

y is less than x

## Else
The else statement complements the **if** statement: 'If this expression is true, run this indented block of code; otherwise run this code after the else statement'

Unlike if, else doesn't depend on an expression

In [ ]:
# Example

if 8 > 9:
  print("Eight is greater than nine")
else:
  print('Eight is less than nine')

Eight is greater than nine

In [ ]:
# Example
# Let's now write a program that reads an integer from a user then displays a message indicating
# whether the integer is even or odd.
#
b=21
c=b%2
if c>0:
  print ('odd')
else :
  print('even')

multiple of 5

In [ ]:
# Example
# Let's now write a program that reads an integer from a user then displays a message indicating
# whether the integer is a multiple of 5
#
b=25
c=b%5
if c==0:
  print ('multiple of 5')
else:
  print('not multiple of 5')

##**Elif**

**Elif** is short for **else/if**. It means exactly what it sounds like: "Otherwise, if the following expression is true, do this!"

In [ ]:
# set our variables c and t
x = 10
t = 91
if x > t:
  print('10 is greater than 91')
elif x<t:
  print('10 is less than 91')
else:
  print('10 is equal to 91')

10 is equal to 91

In [ ]:
x = int(input('Number 1: '))
y = float(input('number 2: '))
# x=10 y=5
print(x+y)

Number 1: 10
number 2: 5
15.0

In [ ]:
type(y)

str

In [ ]:
# set our variables x and y
x = int(input('Input x: '))
y = int(input('Input y: '))
if x > y:
  print(x, ' is greater than ',y)
elif x < y:
  print(x, ' is less than ',y)
else:
  print(x, ' is equal to ',y)

Input x: 10
Input y: 67
10  is less than  67

In [ ]:
# We now write a program that reads a input from a user
# in order to distiguish letters between consonants and vowels

letter=input('Input letter = ')
if letter is('a', 'e','i','o','u'):
  print (letter,"is a vowel." )
elif letter == 'y':
  print("Sometimes letter y stand for vowel, sometimes stand for consonant.")
else:
 print(letter,' is a consonant'  )
#  print("%s is a consonant" % letter)

Input letter = r
r  is a consonant

In [ ]:

# Example
# We can also use the if keyword to combine conditional statements.
#

# Declaring our variables
x = 10
y = 11
z = 9

if x > y or x > z:
  print("At least one of the conditions is True")

At least one of the conditions is True

In [ ]:
# Quiz
# Let's now write a program that reads an integer
# from a user then displays a message indicating
# whether the integer is even or odd.
#
b = 21
c=b%2
if c>0:
  print('odd')
elif c==0:
  print('even')

odd

In [ ]:
# Quiz 2
# We now write a program that reads a input from a user.
# If the user enters a, e, i, o or u then our program should
# display a message indicating that the entered letter is a vowel.
# If our user enters y then our program should display a message
# indicating that sometimes y is a vowel, and sometimes y is a consonant.
# Otherwise our program should display a message indicating that the
# letter is a consonant.

In [ ]:
# Let's now also write another program that asks for a number and computes the
# square of that number. If the square is 100 or greater, print the squared value
# and the word 'big'. Otherwise if the square is 50 or greater, print the
# squared value and the word 'medium'. Otherwise just print 'too small to bother with'.
# Hint: To compute squared, use x*x or x**2

### And
We can combine conditional statements and logical operators

In [ ]:
# Examples

# Declaring our variables
name = "Betwel"
age  = 24

if name == "Betty" and age == 24:
  print("Your name is Betty, and you are also 24 years old.")
if name == "Betty" and age != 24:
  print("Your name is Betty, and you are not 24 years old.")
if name != "Betty" and age == 24:
  print("Your name isnt Betty, and you are 24 years old.")
if name != "Betty" and age != 24:
  print("Your name isnt Betty, and you are not 24 years old.")
# Print the message in the output by modifying the code above

Your name isnt Betty, and you are 24 years old.

In [ ]:
# Declaring our variables
m = 11
n = 18
p = 19

if m > n and p > n:
  print("Both conditions are True")
elif m > n or p > n:
  print('One condition is true')
else:
  print('Both conditions are False')

One condition is true

In [ ]:
# Example
#

# Declaring our variables
county = "Kiambu"      # Let's store our county in the county variable
student = 'Yes'        # Let's store our age in the student variable

if county == "kiambu" and student == 'Yes':
  print("I am a student and I live in Kiambu")
else:
  print("I am not a student who lives in Kiambu")

I am not a student who lives in Kiambu

In [ ]:
x = 'boolean'
print(x in x)

True

In [ ]:
# Quiz:
# Given the 3 sides of a triangle x, y and z, let's find out
# whether the triangle is equilateral, isosceles or obtuse.
# Note: An equilateral triagnle has all sides are equal,
# isosceles means that two of the sides are equal but not the third one,
# obtuse means all 3 are different. The user will be prompted
# to provide the values of x, y and z

###Or

In [ ]:
# Declaring our variables
w = 10
x = 15
y = 20
z = 25

if (w == 10 or x == 15) and (y == 16 or z == 25):
  print("If statement is True")
else:
  print("False")

If statement is True

In [ ]:
x = input()
print(x)

this is input
this is input

In [ ]:
# Declaring our variables
x = int(input("Enter value of x = "))
y = int(input("Enter value of y = "))

if (x >= 15) or (y <= 25):
  print("x >= 15 or y <= 25 so if statement is True")
else:
  print("Value of x < 15 and y > 25 so if statement is False!")

Enter value of x = 5
Enter value of y = 23
x >= 15 or y <= 25 so if statement is True

In [ ]:
# Quiz
# Using the Or operator, let's create a function
# that checks whether a number given
# by a user is greater than 30 or greater than 100.

## Nested If
A nested if is an if statement that is the target of another if statement. Nested if statements mean an if statement inside another if statement. Yes, Python allows us to nest if statements within if statements. i.e, we can place an if statement inside another if statement.

In [ ]:
i = 10
if (i == 10):

    #  First if statement
    if (i < 15):
        print("i is smaller than 15")

    # Nested - if statement
    # Will only be executed if statement above
    # it is true
    if (i < 12):
        print("i is smaller than 12 too")
    else:
        print("i is greater than 15")

i is smaller than 15
i is smaller than 12 too

In [ ]:
list1 = ['maize','wheat','oat']


for i in list1:
  print(i)

maize
wheat
oat

In [ ]:
# Create custom nested if statements

produce = [{'legumes':['beans','peas','njahi']}, {'grains':['wheat','oat','maize']}]

for key, value in produce[1].items():
  if key == 'grains':
    for i in value:
      if  i == 'maize':

        continue
        print('We have found maize =',i)
      else:
        continue
        print('Wrong Answer', i)

In [ ]:
if
a

[]

In [ ]:
n = int(input('Enter Number: '))

if n <= 15:
  if n == 10:
    print('Play cricket')
  else:
    print('Play kabadi')
else:
  prin('Dont play game')

Enter Number: 5
Play kabadi

In [ ]:
c = 21
if c < 25:
  if c%2 == 0:
    print('c is an even number less than 25')
  else:
    print('c is an odd number less than 25')
else:
  print('c is greater than 25')

In [ ]:
list_a = [-1,92,90,0.28,-26,-19,-278,17,38,100,-12,-98,288]

# check for each item in list_a
for i in list_a:

  # Check for postive numbers
  if i >= 0:
    # Assign grade
    if i > 50:
      print(i, 'is good')

    else:
      print(i, ' is fair')

  else:

    if i > -49:
      print(i, 'is poor')

    else:
      print(i, 'is bad')

  while i % 2 == 0:
    print(i, 'is even')
    break
  else:
    print(i , 'is odd')

-1 is poor
-1 is odd
92 is good
92 is even
90 is good
90 is even
0.28  is fair
0.28 is odd
-26 is poor
-26 is even
-19 is poor
-19 is odd
-278 is bad
-278 is even
17  is fair
17 is odd
38  is fair
38 is even
100 is good
100 is even
-12 is poor
-12 is even
-98 is bad
-98 is even
288 is good
288 is even

In [ ]:
list_c = [10,20,-28,50,70,47]


for i in list_c:
  if i >= 60:
    print(i,' = A')

  elif i > 30 :
    print(i, '= B')
  elif i < 0:
    print('ERROR')
  else:
    print(i, '= C')

10 = C
20 = C
ERROR
50 = B
70  = A
47 = B

## For      
A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

In [ ]:
# Let's now create a dictionary and iterate over it
# Looping through a dictionary is slightly different from looping through a list. This is because a dictionary is comprised of key-value pairs.
# There are several ways of looping through a dictionary. We will only look at a couple of them here

# Creating our dictionary
our_class = {
    'Name': 'Form 4 west',
    'Students': 46,
    'Teacher': 'Mr. Kitam'
}



# Looping through keys only
for x in our_class:
  print(x)

# This way of looping through a dictionary will only output the dictionary keys only. But what if we wanted to display the key value pair?
print("-----------------------------------") # separating the two ways of looping
# To be able to achieve this, we are going to make us of a python's dictionary in-built function .items(). This function will allow us to access the key-value pair at the same time.

for x,y in our_class.items():
  print(x,":", y)

# In the above lines of code, we are creating two temporary variables,x and y, where x is used to store the key element and y stores the value element. Then printing out the key-value pair of each dictionary elements.

Name
Students
Teacher
-----------------------------------
Name : Form 4 west
Students : 46
Teacher : Mr. Kitam

In [ ]:
# We can also create and iterate over a list called fruits

# Creating our python list
fruits = ["grapes", "oranges", "bananas", "lime"]

# printing the list out
print(fruits)
print(

)
# Use a for loop to iterate through the fruits list and print out each element in the list.
for y in fruits:
  print(y)

['grapes', 'oranges', 'bananas', 'lime']

grapes
oranges
bananas
lime

In [ ]:
# We can also create and iterate over a list called fruits

# Creating our python list
fruits = ["grapes", "oranges", "bananas", "lime"]

# printing the list out
print(fruits)
print()
# Use a for loop to iterate through the fruits list and print out each element in the list.
for y in fruits:
  print(y)

{'bananas', 'grapes', 'lime', 'oranges'}

bananas
grapes
lime
oranges

In [ ]:
# Create a list with random items and iterate through it using for loop

random_list = ['baba', 'fever','milk', 'television']

for x in random_list:
  print(x)

baba
fever
milk
television

In [ ]:
# Given the dictionary below, use a for loop to iterate over it
# Creating the dictionary
farm = {
    'Size': 146.48,
    'Crops': 'Maize',
    'Water': 'Irrigation'
}

for item in farm:
  print(item)

Size
Crops
Water

In [ ]:
cars = {'car1':{'type': 'Mazda','color':'blue','HP':2500},
        'car2':{'type': 'Toyota','color':'black','HP':1500},
        'car3':{'type': 'Benz','color':'white','HP':3000}}
cars['car3']['type']

'Benz'

In [ ]:
# kamusi = {'car': 'Mazda','color':'blue','HP':2500}
# kamusi = {'car': 'Toyota','color':'black','HP':1500}
# kamusi = {'car': 'Benz','color':'white','HP':3000}
#print(kamusi)

cars = {'car1':{'type': 'Mazda','color':'blue','HP':2500},
        'car2':{'type': 'Toyota','color':'black','HP':1500},
        'car3':{'type': 'Benz','color':'white','HP':3000}}



for key ,value in cars.items():
  print(key)
  for key_nested, value_nested in value.items():
    print(x, 'is',y)
  print()

car1
type is Mazda
color is blue
HP is 2500

car2
type is Toyota
color is black
HP is 1500

car3
type is Benz
color is white
HP is 3000

In [ ]:
[]

In [ ]:
# SInce the dictionary contains key and values, lets add other variables to \
# our conditional function

# Lets use the dictionary above
for x,y in farm.items():
  print(x,':',y)

Size : 146.48
Crops : Maize
Water : Irrigation

In [ ]:
# Quiz
# Iterate over a list of dictionaries using a for loop
#

### Looping through a string

In [ ]:
# We can loop through string
for y in "Kenya":
  print(y)

K
e
n
y
a

In [ ]:
# Exanples
for y in "My time is now":
  print(y)

M
y

t
i
m
e

i
s

n
o
w

### Break statement
We can use the break statement to stop the loop before it continues

In [ ]:
# We can use the break statement during the iteration of a string a shown
#

for xter in "Prison brean":
    if xter == "i":
        break
    print(xter)
print("Loop ended")

P
r
Loop ended

In [ ]:
# Using the fruits list we can stop the loop
# before it continues iterating through all items by
#

colours =  ['red','brown', 'black', 'green','grey']

for x in colours:

  print(x)
  if x == "green":
    break

red
brown
black
green

In [ ]:
# Quiz
# Iterating through a list of numbers
# and breaking whenever the no. 761 is found
#

numbers  = [917,19827,827628,8762,928,761,9827,172,008]

### Continue statement

We use continue statement to stop the current iteration of the loop,
and continue with the next section of code

In [ ]:
fruits = ["dates", "coconut", "passion"]

# iterate over the list
for x in fruits:
  if x == "coconut":
    continue
  print(x)

dates
passion

In [ ]:
# Iterating over a string
#

for thing in "Tomorrow is sunday":
    if thing == "i":
        continue
    print(thing)

T
o
m
o
r
r
o
w

s

s
u
n
d
a
y

In [ ]:
# Quiz
# Make changes to the code below to omit the sunday and tuesday
# while displaying the no. of days
#

day = ['monday','tuesday','wednesday','thursday','friday','saturday','sunday']

In [ ]:
# We iterate through a set of code a specified number of times using the range() function.
# Let's create a sequence of numbers from 0 to 5, and print each item in the sequence:
#

for x in range(6):
  print(x)

0
1
2
3
4
5

In [ ]:
# What happens when we have two parameters?
#

for i in range(5, 10):
  print(i)

5
6
7
8
9

In [ ]:
# Quiz
# Create a program that prints out the even numbers within the range of 50 - 60

Else

In [ ]:
# When the loop condition of "for" or "while" statement fails
# then code part in "else" is executed as shown below
for x in range(43,50):
  print(x)
else:
  print("Done!")

43
44
45
46
47
48
49
Done!

In [ ]:
#  In this example the code in the else block runs only
# if the loop completes without encountering a break statement.
#

for i in range(3):
    password = input('Enter your password: ')
    if password == 'secret':
        print('You have guessed the password!')
        break
else:
    print('You have made 3 incorrect password attempts')

Enter your password: secret
You have guessed the password!

In [ ]:
# Quiz
# Write a program to find whether there is a word with the letter x from the list below
#

words = ['AAAAI', 'AAAAM', 'AAAAs', 'AAACE', 'AAAEE', 'aaagh', 'AAAID', 'AAAIP', 'AAAIS',
           'AAAOC', 'xmas','YAADGHJ']

## Nested for Loops
A nested loop has one loop inside of another. These are typically used for working with two dimensions such as printing stars in rows and columns as shown below. When a loop is nested inside another loop, the inner loop runs many times inside the outer loop. In each iteration of the outer loop, the inner loop will be re-started. The inner loop must finish all of its iterations before the outer loop can continue to its next iteration.

In [ ]:
# Create lists
colours = ["brown", "pink", "blue"]
cars = ["mazda", "chevy", "BMW","Ford"]

# iterate over the lists in another loop
for x in colours:
  for y in cars:
    print(x, y)

brown mazda
brown chevy
brown BMW
brown Ford
pink mazda
pink chevy
pink BMW
pink Ford
blue mazda
blue chevy
blue BMW
blue Ford

In [ ]:
# Iterating over multi dimension list i.e. lists in a list
#

# Creating a persons list
persons = [['Muriga', 19], ['Tokodi', 15], ['Tyrell', 29]]

for person in persons:

  for value in person:
    print(value)

Muriga
19
Tokodi
15
Tyrell
29

In [ ]:
# Iterate through the list of integers. In the outer loop, iterate through the numbers_list
# and iterate through strings_list in the inner loop.
# printing out
# 9 z 8 y 7 x 6 w