In [ ]:
# Import libraries
import pandas as pd

import numpy as np

In [ ]:
1% 2

1

In [ ]:
#### Bonus code

marks = [87,54,16,9,45,50,11,67,75, -76, 72, 100, 27,87]

# over 75(A), over 50(B), Over 25 (C), under 15 (D)
grades = []

for mark in marks:
  if mark >= 75:
    grades.append('A')
  elif mark >= 50:
    grades.append('B')
  elif mark >= 25:
    grades.append('C')
  else:
    grades.append('D')

grades

['A', 'B', 'D', 'D', 'C', 'C', 'D', 'B', 'B', 'D', 'B', 'A', 'C', 'A']

#Operations

Python Operators in general are used to perform operations on values and variables. These are standard symbols used for the purpose of logical and arithmetic operations. In this notebook, we will look into different types of Python operators.

##Arithmetic Operations
Arithmetic operators are basic math operations. C = 12 + 1 , Age = 2004 - 1997

In [ ]:
type(6/4)

float

In [ ]:
# Set our values
a = 11
b = 7
d = 23
e = 4

In [ ]:
# 7 / 2 = 3.5
# 7 // 2 = 3
# 7 % 2 = 1

# 3 remainder 1

7

In [ ]:
a = int(input(' number 1: '))
b = int(input(' number 2: '))

# Lets practise the functions.
# You can play around with the values.
print()
print('Arithmetic Operator')
print('Addition:',a+b)
print('Subtraction:',a-b)
print('Multiplication:',a*b)
print('Division:',a/b)
print('Floor division:',a//b)
print('Modulus(remainder):',a%b)
print('Exponent (a^b):',a**b)

 number 1: 18
 number 2: 2

Arithmetic Operator
Addition: 20
Subtraction: 16
Multiplication: 36
Division: 9.0
Floor division: 9
Modulus(remainder): 0
Exponent (a^b): 324

Modulo: %. This operator returns the remainder of the division of the number to the left by the number on its right. For example 18 % 7 equals 4.

Exponentiation: This operator raises the number to its left to the power of the number to its right. For example 4**2 will give 16.

Increment/decrement operators add or subtract values to the original value

In [ ]:
# Build list 'a'
a = [1,2,3,4,5,6,7,8]
# b = [11,12,13,]

# a +10 = b

#
c = []

for i  in a:
  if i%2 == 'red':
    sum = i + 10
    c.append(sum)
  elif ..... == 'yellow'

  else: # blue
    sum = i + 20
    c.append(sum)

c

[21, 12, 23, 14, 25, 16, 27, 18]

In [ ]:
# This operator is called the increment operator
#
# a = 10
# b = 6


a += b


print(a)

# Try using the decrement operator below. The increment operator is -=

28

In [ ]:
d = 23
e = 4

In [ ]:
# Try using the decrement operator below. The increment operator is -=

d  -= e
print(d)

39

In [ ]:
len(marks)

14

In [ ]:
# sumation(f)/ = total freque
f = len()

SyntaxError: ignored

In [ ]:
-=,
+=,
!=,

In [ ]:
# Example
# Three persons have 3 friends have Kes. 200, 300 and 700 respectively
# Find out the average of their money and display it below.
#
man_1 = 2001
man_2 = 300
woman_2 = 700
average = (man_1 + man_2 + woman_2)/len(a)
print('The average money is', int(average))

THe average money is 1000

In [ ]:
print()

In [ ]:
print((man_1 + man_2 + woman_2)/3)

3001

Quiz

In [ ]:
# Given a pen is Kes. 20 and Book is Kes. 45, Calculate the cost below
# if you were to buy 4 books and 6 pens using variables and operators.
#

In [ ]:
# Given the equation of a straight line, with constant c = 3 and gradient m = 6
# Create the x variable using input() and compute the y intercept

# Hint: y = mx + c

## Relational operator
They are also called **comparison operators** and are used to compare values.
It either returns **True** or **False** according to condition

In [ ]:
# Let's try some examples: <, > , >=, <=, !=, ==

In [ ]:
# Examples
a = input('Enter number: ')
b = input('Enter number: ')

#  Then we are going to preview if a variable is less than, greater than,


print()
print(a>b)
print(a<b)

Enter number: 9
Enter number: 28

True
False

In [ ]:
# greater or equals to, less or equals to
print(a>=b)
print(a<=b)

True
False

In [ ]:
# is equal or not to another variable
print(a==b) # equal
print(a!=b) # not equal

False
True

Exercises

In [ ]:
# Greater or equal to
# Is 208 greater or equal to 190?
209 >= 190

False

In [ ]:
# Less or equal to
# Is 1282 greater or equal to 3106?
1282 >= 3106

False

##Logical operators
Logical operators are typically used with **Boolean**(logical) values. They allow a program to make a decision on multiple conditions

In [ ]:
# Lets practise them
# Input 2 numbers; r and z
r = input('r= ')
z = input('z= ')
print()

#  We check if r is not equal to z. r is less or greate1r than z

print(r < z or z < r) # '|'
print(r != z)  # We can also use arithmetic way

r= 71
z= 17

True
True

In [ ]:
# We shall check if r is equal to z and z is less than r.
print(r==z and z<r)  # &

False

In [ ]:
z

'17'

In [ ]:
not, is , in, not in,

False

In [ ]:
# Checking if not, r is less than z
print(not(r<z))

True

In [ ]:
dict1  = {'key1': ['value1', 'xhs',722],
          'key2': 'value2'}

dict1.items()

dict_items([('key1', ['value1', 'xhs', 722]), ('key2', 'value2')])

# Merge, Join & Concatenate
A dataframe is a two-dimensional data structure having multiple rows and columns. In a dataframe, the data is aligned in the form of rows and columns only. A dataframe can perform arithmetic as well as conditional operations. It has mutable size, therefore we can join, merge and concatenate different dataframes based on the values in the rows and columns

## Merge

When you want to combine data objects based on one or more keys, similar to what youâ€™d do in a relational database, merge() is the tool you need.

More specifically, merge() is most useful when you want to combine rows that share data.
- The **merge**() function used to merge the DataFrames with database-style join such as inner join, outer join, left join, right join.
- It combines exactly two DataFrames.The join is done on columns or indexes.
- If joining columns on columns, the DataFrame indexes will be ignored.
- If joining indexes on indexes or indexes on a column, the index will be passed on.

In [ ]:


# Create dictionaries
data1 = {
  "name": ["Sally", "Mary", "John"],
  "age": [50, 40, 30]
}

data2 = {
  "name": ["Sally", "Peter", "Micky"],
  "age": [77, 44, 22]
}
data1

{'name': ['Sally', 'Mary', 'John'], 'age': [50, 40, 30]}

In [ ]:
# Convert the dictionaries into dataframes


data_1 = pd.DataFrame(data1)
data_2 = pd.DataFrame(data2)

print(data_1)
print()
print(data_2)

    name  age
0  Sally   50
1   Mary   40
2   John   30

    name  age
0  Sally   77
1  Peter   44
2  Micky   22

In [ ]:

# merge the dataframes
newdf = data_1.merge(data_2, how='outer',on ='name')
newdf

    name  age_x  age_y
0  Sally   50.0   77.0
1   Mary   40.0    NaN
2   John   30.0    NaN
3  Peter    NaN   44.0
4  Micky    NaN   22.0

In [ ]:
# Create dataframes for examples
left_dataframe = pd.DataFrame({"ID": [1,2,3,4], "left_side": "LEFT"})
right_dataframe = pd.DataFrame({"ID": [3,4,5,6], "right_side": "RIGHT"})

# preview the dataframes
print('Left')
print(left_dataframe)

print()
print('right')
print(right_dataframe)

Left
   ID left_side
0   1      LEFT
1   2      LEFT
2   3      LEFT
3   4      LEFT

right
   ID right_side
0   3      RIGHT
1   4      RIGHT
2   5      RIGHT
3   6      RIGHT

**Left merge**

In a Left Merge we are mostly concerned with data on the LEFT side but we would like to add data from the RIGHT side if it has some of the same ID's.

To do that, we chop up the rows in the RIGHT dataframe and glue pieces of it onto the LEFT dataframe. Remember, we mostly care about the LEFT side and only want data from the RIGHT side if it has any of the same ID's. So if something in the RIGHT dataframe doesn't match or doesn't exist then we have to do things to keep the columns the same length. We do that by either adding NaN to fill the void or discarding some rows entirely.

In this example, the LEFT side has ID's 1, 2, 3, and 4:

- The RIGHT side does not have ID's 1 or 2 so we add NaN's because we need columns to be the same length
- The RIGHT side does have data for ID's 3 and 4 so we add it as a new column
- The LEFT side does not have ID's 5 or 6 so we don't need that info from the RIGHT and it's discarded

In [ ]:
# Left merge on "ID" column
pd.merge(left=left_dataframe, right=right_dataframe, on="ID", how="left")

   ID left_side right_side
0   1      LEFT        NaN
1   2      LEFT        NaN
2   3      LEFT      RIGHT
3   4      LEFT      RIGHT

**Right Merge**

Right Merges work just like Left Merges, the difference is that we mostly care about the RIGHT side and would like to add data from the LEFT if it has matching ID's.

In [ ]:
# Code for a right merge
pd.merge(left=left_dataframe, right=right_dataframe, on="ID", how="right")

   ID left_side right_side
0   3      LEFT      RIGHT
1   4      LEFT      RIGHT
2   5       NaN      RIGHT
3   6       NaN      RIGHT

**Inner Merge**

With an Inner Merge, we chop up both dataframes and only glue the stuff that matches. If an ID isn't in both dataframes, we don't keep it and we don't add NaN's.

In [ ]:
# Inner merge on ID column
pd.merge(left=left_dataframe, right=right_dataframe, on="ID", how="inner")

   ID left_side right_side
0   3      LEFT      RIGHT
1   4      LEFT      RIGHT

**Outer Merge**

With an Outer Merge, we chop up both dataframes and keep everything from both sides. Then we toss in NaN's to fill any blanks.

In [ ]:
# Outer merge on ID column
pd.merge(left=left_dataframe, right=right_dataframe, on="ID", how="outer")

   ID left_side right_side
0   1      LEFT        NaN
1   2      LEFT        NaN
2   3      LEFT      RIGHT
3   4      LEFT      RIGHT
4   5       NaN      RIGHT
5   6       NaN      RIGHT

## Join

A common difference that **merge()** and **join()** has is that merge() is a module function while join() is an object function. The join() method only specifies the DataFrame. And, that DataFrame will join the DataFrame you call .join() on.     

 It will combine all the columns from the two tables, with the common columns renamed with the defined **lsuffix** and **rsuffix**. The way that rows from the two tables are combined is defined by how.

-  left - LEFT OUTER JOIN	- Use keys from left frame only
- right - RIGHT OUTER JOIN - Use keys from right frame only
- outer	- FULL OUTER JOIN	- Use union of keys from both frames
- inner	- INNER JOIN	- Use intersection of keys from both frames

##Concat


**concat()** function does all of the heavy lifting of performing concatenation operations along an axis while performing optional set logic (union or intersection) of the indexes (if any) on the other axes.

- It concatenate two or more pandas DataFrames/Series vertically or horizontally.
- Aligns only on the index by specifying the axis parameter.
- Defaults to outer join with the option for inner join

In [ ]:
# Python program to concatenate
# dataframes using Panda

# Creating first dataframe
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                    index = [0, 1, 2, 3])



print(df1)

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [ ]:
# Creating second dataframe
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']},
                    index = [4, 5, 6, 7])
df2

    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [ ]:
# Creating third dataframe
df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                    'B': ['B8', 'B9', 'B10', 'B11'],
                    'C': ['C8', 'C9', 'C10', 'C11'],
                    'D': ['D8', 'D9', 'D10', 'D11']},
                    index = [8, 9, 10, 11])

df3

      A    B    C    D
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [ ]:
# Concatenating the dataframes
pd.concat([df1, df2, df3])

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [ ]:
# Concatenating the dataframes
pd.concat([df1, df2, df3],axis=1)

      A    B    C    D    A    B    C    D    A    B    C    D
0    A0   B0   C0   D0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1    A1   B1   C1   D1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2    A2   B2   C2   D2  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3    A3   B3   C3   D3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4   NaN  NaN  NaN  NaN   A4   B4   C4   D4  NaN  NaN  NaN  NaN
5   NaN  NaN  NaN  NaN   A5   B5   C5   D5  NaN  NaN  NaN  NaN
6   NaN  NaN  NaN  NaN   A6   B6   C6   D6  NaN  NaN  NaN  NaN
7   NaN  NaN  NaN  NaN   A7   B7   C7   D7  NaN  NaN  NaN  NaN
8   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A8   B8   C8   D8
9   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A9   B9   C9   D9
10  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A10  B10  C10  D10
11  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A11  B11  C11  D11